<div class="form-container">
<div class="listing-container col-md-4 col-sm-12">

<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field list-form-bottom-spacer">
    <p class="listing-form-title"><%= form.label :title, class: "" %></p>
    <%= form.text_field :title, class: "form-box" %>
  </div>

  <div class="field list-form-bottom-spacer">
    <p class="listing-form-title"><%= form.label :description %><br></p>
    <%= form.text_area :description, class: "form-box" %>
  </div>

  <div class="field list-form-bottom-spacer">
    <p class="listing-form-title"><%= form.label :price %><br></p>
    <%= form.number_field :price, class: "form-box" %>
  </div>    
  
  <div class="field list-form-bottom-spacer">
    <p class="listing-form-title"><%= form.label :category %><br></p>
    <div class="list-form-bottom-spacer">
      <%= form.select(:category, 
      [['CPU', 'CPU'], 
      ['Graphics card', 'Graphics card'], 
      ['HDD', 'HDD'], 
      ['Miscellaneous', 'Miscellaneous'] 
      ['Motherboard', 'Motherboard'], 
      ['Peripherals', 'Peripherals'], 
      ['PSU', 'PSU'], 
      ['RAM', 'RAM'], 
      ['SSD', 'SSD']]) %>
    </div>
  </div>    
  
  <div class="field list-form-bottom-spacer">
    <p class="listing-form-title"><%= form.label :image %></p>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit %>

  </div>
<% end %>


</div>
</div>