<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listings</h1>

  <% @listings.each do |listing| %>
    
      <div class="listings-section">
        <div class="row justify-content-center">
          <div class="col-md-3 col-sm-12">
            <div class="listing-image-section">
              <img src="<%= listing.image %>" alt="listing image">
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <p class="listings-title"><%= listing.title %></p>
            <p class="listings-category"><%= listing.category %></p>
            <div class="listings-seller-section">
              <p class="listings-seller">Joseph Park</p>
              <img src="/images/verified-user.svg" alt="Verified user">
            </div>
            <div class="rating-bar">
              <img src="/images/star.svg" alt="User rating">
              <img src="/images/star.svg" alt="User rating">
              <img src="/images/star.svg" alt="User rating">
              <img src="/images/star.svg" alt="User rating">
              <img src="/images/star.svg" alt="User rating">
            </div>
            <p class="listings-review">26 reviews</p>
          </div>

          <div class="col-md-3 col-sm-12 listing-box-container">
            <div class="listing-box">
              <p class="listings-price">$<%= listing.price %> AUD</p>
              <button type="button" class="btn btn-outline-primary"><%= link_to 'Details', listing %></button>
            </div>
          </div>
        </div>
      </div>
    
  <% end %>

</div>