<p id="notice"><%= notice %></p>


  <div class="listing m-3">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="listing-image-section">
          <img src="<%= @listing.image %>" alt="listing image">
        </div>
      </div>

      <div class="col-md-4 col-sm-12 listing-section">
        <p class="listing-title"><%= @listing.title %></p>
        <p class="listing-category"><%= @listing.category %></p>

        <% if((@listing.user) == (current_user))  %>
   
          <%= link_to 'Edit', edit_listing_path(@listing) %>
          <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>

        <% end %>

      </div>

      <div class="col-md-4 col-sm-12 seller-container">
        <div class="seller-box">
          <p class="listing-price">AU $<%= @listing.price %></p>
          <button type="button" class="btn btn-outline-primary">Message</button>
          <button type="button" class="btn btn-outline-primary">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="listing-details">
      <p class="listing-description-title">Description</p>
      <p class="listing-description"><%= @listing.description %></p>
    </div>

</div>
