<div class="container">
  <p id="notice"><%= notice %></p>

    <div class="listing m-3">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="listing-image-section">
            <img src="<%= @listing.image %>" alt="listing image">
          </div>
        </div>

        <div class="col-md-4 col-sm-12 listing-section">
          <p class="listing-title"><%= @listing.title %></p>
          <p class="listing-category"><%= @listing.category %></p>
          <div class="listings-seller-section">
              <p class="listings-seller">Joseph Park</p>
              <img src="/images/verified-user.svg" alt="Verified user">
            </div>
            <div class="rating-bar">
              <img src="/images/star.svg" alt="User rating">
              <img src="/images/star.svg" alt="User rating">
              <img src="/images/star.svg" alt="User rating">
              <img src="/images/star.svg" alt="User rating">
              <img src="/images/star.svg" alt="User rating">
            </div>
            <p class="listings-review">26 reviews</p>

          <% if((@listing.user) == (current_user))  %>
    
            <%= link_to 'Edit', edit_listing_path(@listing) %>
            <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>

          <% end %>

        </div>

        <div class="col-md-3 col-sm-12 seller-container">
          <div class="seller-box">
            <p class="listing-price">$<%= @listing.price %> AUD</p>
            <button type="button" class="btn btn-outline-primary message-button">Message</button>

          <%= form_tag charges_path do %>
          <%= hidden_field_tag :listing_id, @listing.id %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="<%= @listing.title %>"
                    data-amount="<%= @amount %>"
                    data-locale="auto"></script>
          <% end %>


          </div>
        </div>

      </div>

      <div class="listing-details">
        <p class="listing-description-title">Description</p>
        <p class="listing-description"><%= @listing.description %></p>
      </div>

  </div>
</div>