<!-- ** - - - - - SECTION 1: HERO - - - - - ** -->
<div class="hero nopadding" id="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Take part</h1>
            <h2>Buy and sell quality PC parts from trusted people.</h2>
            <a href="<%= listings_path %>" class="btn btn-primary more-button">Browse</a>
        </div>
    </div>
</div>

<!-- ** - - - - - SECTION 2: CATEGORIES - - - - - ** -->
<div class="categories" id="categories">
    <div class="container">
        <p class="section-title-a">Categories</p>
            
            <!-- Categories row one -->
            <div class="row">
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="/images/graphics-card.jpg" alt="Graphics card category">
                    </a>
                    <p class="category-title">Graphics card</p>
                </div>
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="/images/cpu.jpg" alt="CPU category">
                    </a>
                    <p class="category-title">CPU</p>
                </div>
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="/images/ram.jpg" alt=" RAM category">
                    </a>
                    <p class="category-title">RAM</p>
                </div>
            </div>

            <!-- Categories row two -->
            <div class="row">
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="/images/motherboard.jpg" alt="Motherboard category">
                    </a>
                    <p class="category-title">Motherboard</p>
                </div>
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="/images/peripheral.jpg" alt="Peripheral category">
                    </a>
                    <p class="category-title">Peripherals</p>
                </div>
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="/images/miscellaneous.jpg" alt="Miscellaneous category">
                    </a>
                    <p class="category-title">Miscellaneous</p>
                </div>
            </div>


            <!-- Button -->
            <div class="row">
                <div class="col-md-12">
                    <div class="see-more">
                        <a href="<%= categories_path %>" class="btn btn-primary">All categories</a>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- ** - - - - - SECTION 3: HOW IT WORKS - - - - - ** -->
<div class="how-it-works">
    <div class="container">
    <p class="section-title-a">How it works</p>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-rounded" src="/images/search.png" alt="Generic placeholder image" width="140" height="140">
                <p class="how-it-works-title">Browse</p>
                <p class="how-it-works-subtitle">Look for your next PC part.</p>
            </div>
            <div class="col-lg-4">
                <img class="img-rounded" src="/images/reviews-and-ratings.png" alt="Generic placeholder image" width="140" height="140">
                <p class="how-it-works-title">Review</p>
                <p class="how-it-works-subtitle">Read seller reviews and ratings to find the right product and seller.</p>
            </div>
            <div class="col-lg-4">
                <img class="img-rounded" src="/images/buy.png" alt="Generic placeholder image" width="140" height="140">
                <p class="how-it-works-title">Buy</p>
                <p class="how-it-works-subtitle">Purchase your item when you are satisfied.</p>
            </div>
        </div>
    </div>
</div>

<!-- ** - - - - - SECTION 4: LISTINGS - - - - - ** -->

<div class="home-listings" id="listings">
    <div class="container">
        <p class="section-title-a">Featured items</p>
        <div class="row">
            <% @listings.limit(4).each do |listing| %>
                <div class="col-md-3 col-sm-12">
                    <a href="/listings/ <%= listing.id %>">
                        <img src="<%= listing.image %>" alt="listing image">
                    </a>
                    <div class="listing-items">
                        <p class="home-listings-title"><%= listing.title %></p>
                        <p class="home-listings-category"><%= listing.category %></p>
                        <p class="home-listings-price">AU $<%= listing.price %></p>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="row">
        <div class="container">
            <div class="see-more">
                <a href="<%= listings_path %>" class="btn btn-primary">All listings</a>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- ** - - - - - SECTION 5: VALUE PROPOSITION - - - - - ** -->
<div class="vp" id="vp">
    <div class="container">
        <p class="section-title-a">Why Exelim?</p>
        <!-- VP 1 -->
        <div class="row featurette vp-one">
            <div class="col-md-4 col-sm-12 vp-one-image">
                <img class="featurette-image img-fluid mx-auto" alt="brand image" src="/images/exelim-logo.jpg">
            </div>
            <div class="col-md-6">
                <h3 class="featurette-heading">We got your back.</h3>
                <p class="lead">Whether you're buying or selling PC parts, we made the process easy, quick, and simple.</p>
            </div>
        </div>

        <!-- VP 2 -->
        <div class="row vp-two">
            
            <div class="col-md-5 col-sm-12 vp-two-container">
                <div class="vp-header-section">
                    <p class="vp-header"> Protection </p>
                    <img src="/images/protection.svg" alt="Protection">
                </div>
                <p class="vp-body">Transactions on our platform are protected. If something goes wrong, your money is kept safe.</p>
            </div>
            <div class="col-md-5 col-sm-12 vp-two-container">
                <div class="vp-header-section">
                    <p class="vp-header"> Quality </p>
                    <img src="/images/quality.svg" alt="Quality">
                </div>
                <p class="vp-body">Accountability and trust is inbuilt to the platform. Each seller and buyer is reviewed and rated. </p>
            </div>

        </div>

        <div class="row vp-two">    
            <div class="col-md-5 col-sm-12 vp-two-container">
                <div class="vp-header-section">
                    <p class="vp-header"> Environment </p>
                    <img src="/images/environment.svg" alt="Environment">
                </div>
                <p class="vp-body"> Reuse and recycle PC parts. It's not just economical, but good for the environment. Let's reduce e-waste. </p>
            </div>

            <div class="col-md-5 col-sm-12 vp-two-container">
                <div class="vp-header-section">
                    <p class="vp-header"> Dedicated platform </p>
                    <img src="/images/pc.svg" alt="PC">
                </div>
                <p class="vp-body">This platform was created and designed to make buying and selling PC parts. </p>
            </div>


        </div>


    </div>
</div>