<!-- ** - - - - - SECTION 1: HERO - - - - - ** -->
<div class="hero" id="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Take part</h1>
            <h2>Buy and sell quality PC parts from trusted people.</h2>
            <a href="#contact" class="btn btn-primary more-button">Browse</a>
        </div>
    </div>
</div>

<!-- ** - - - - - SECTION 2: CATEGORIES - - - - - ** -->
<div class="categories" id="categories">
    <div class="container">
        <p class="section-title-a">Categories</p>
            
            <!-- Categories row one -->
            <div class="row">
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="http://via.placeholder.com/680x400" alt="Graphics card category">
                    </a>
                    <p class="category-title">Graphics card</p>
                </div>
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="http://via.placeholder.com/680x400" alt="CPU category">
                    </a>
                    <p class="category-title">CPU</p>
                </div>
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="http://via.placeholder.com/680x400" alt=" RAM category">
                    </a>
                    <p class="category-title">RAM</p>
                </div>
            </div>

            <!-- Categories row two -->
            <div class="row">
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="http://via.placeholder.com/680x400" alt="Graphics card category">
                    </a>
                    <p class="category-title">Graphics card</p>
                </div>
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="http://via.placeholder.com/680x400" alt="CPU category">
                    </a>
                    <p class="category-title">CPU</p>
                </div>
                <div class="col-md-4 col-sm-12 category-items">
                    <a href="#">
                        <img src="http://via.placeholder.com/680x400" alt=" RAM category">
                    </a>
                    <p class="category-title">RAM</p>
                </div>
            </div>


            <!-- Button -->
            <div class="row">
                <div class="col-md-12">
                    <div class="see-more">
                        <a href="<%= categories_path %>" class="btn btn-primary">All categories</a>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- ** - - - - - SECTION 3: HOW IT WORKS - - - - - ** -->
<div class="how-it-works">
    <div class="container">
    <p class="section-title-a">How it works</p>
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="http://via.placeholder.com/300x300" alt="Generic placeholder image" width="140" height="140">
                <p class="how-it-works-title">Heading 1</p>
                <p class="how-it-works-subtitle">Browse for your item.</p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="http://via.placeholder.com/300x300" alt="Generic placeholder image" width="140" height="140">
                <p class="how-it-works-title">Heading 2</p>
                <p class="how-it-works-subtitle">Read seller reviews and ratings.</p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="http://via.placeholder.com/300x300" alt="Generic placeholder image" width="140" height="140">
                <p class="how-it-works-title">Heading 3</p>
                <p class="how-it-works-subtitle">Purchase your item when you are satisfied.</p>
            </div>
        </div>
    </div>
</div>

<!-- ** - - - - - SECTION 4: LISTINGS - - - - - ** -->

<div class="listings" id="listings">
    <div class="container">
        <p class="section-title-a">TEST</p>
        <div class="row">
            <% @listings.limit(4).each do |listing| %>
                    <div class="col-md-3 col-sm-12">
                        <a href="<%= listings_path %>">
                            <img src="<%= listing.image %>" alt="listing image">
                        </a>
                        <div class="listing-items">
                            <p class="listings-title"><%= listing.title %></p>
                            <p class="listings-category"><%= listing.category %></p>
                            <p class="listings-price"><%= listing.price %></p>
                        </div>
                    </div>
            <% end %>
        </div>

        <div class="row">
        <div class="container">
            <div class="see-more">
                <a href="<%= listings_path %>" class="btn btn-primary">All listings</a>
            </div>
        </div>
    </div>
    </div>
</div>
