<!DOCTYPE html>
<html>
  <head>
    <title>Exelim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'app.css' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'navbar/navbar' %>
    
    <div class="container">
        <h1> Congratulations! </h1>
        <p> Thank you for your support and business.</p>
        <p> You have successfully completed the purchase. $<%= (@amount) %> AUD was paid.</p>
        <p> Your order is now being processed. Please contact support@exelim.com if you require any assistance. </p>
    </div>
  </body>
</html>